{% extends "ask/base.html" %}

{% block content %}

	<div class="row">
		<div class="col-lg-12 add-margin">
			<h3><i>Новый вопрос</i></h3>
			<input type="text" placeholder="Заголовок" class="form-control add-margin" />
			<textarea rows="9" placeholder="Текст вопроса" class="form-control add-margin"></textarea>
			<input type="text" placeholder="Метки" class="form-control add-margin"  />
			<p>
		    	<button class="btn btn-success pull-right" type="button">Отправить</button>
			</p>

		</div>
    </div>

{% endblock %}